body{
  background-color: hsl(208, 92%, 85%);
}
.App {
  text-align: center;
}
.nav{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: cornflowerblue;
}

.nav a{
  margin: 10px;
  text-decoration: none;
  color: black;
}
